h1,
p {
  font-family: Lato;
}
#sathu {
  color: red;
  outline-style: auto;
  outline-color: aqua;
  margin: 5px;
  padding: 5px;
  align-items: center;
}
.item {
  background-color: #b3e3de;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}
.count {
  color: blue;
}
.converter {
  color: blue;
  background-color: aqua;
  margin: 10px;
  padding: 20px;
}
.form {
  background-color: coral;
  margin: 10px;
  padding: 20px;
}
.contactForm {
  background-color: darkolivegreen;
  padding: 15px;
  margin: 1px;
}
.conatctlist {
  list-style: none;
  margin: 1px;
  padding: 1px;
}
.conatctlist li {
  list-style: none;
  margin-top: 2px;
  padding: 3px;
  background-color: cornflowerblue;
}
.reduxIncrement {
  margin: 10px;
  color: blue;
  background-color: aqua;
  padding: 10px;
  align-content: center;
}
